---
import MiFoto from "../../assets/img/MiFoto.png";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de Lautaro"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
  <h2 class="text-3xl font-bold text-white">
    Mi nombre es <span class="text-white text-shadow">Daniela</span>
  </h2>

  <p class="mt-4">
    Soy Game Designer y Technical Artist, con enfoque en el
    <span class="text-primary font-semibold">Environment Art</span>. Me dedico a crear experiencias interactivas donde combino
    <span class="text-primary font-semibold">arte 3D</span> y
    <span class="text-primary font-semibold">programación</span> para dar vida a mundos dentro de los videojuegos.
  </p>

  <p class="mt-2">
    Trabajo con <span class="text-primary font-semibold">Unity</span> y
    <span class="text-primary font-semibold">C#</span>, y desarrollo assets y entornos 3D utilizando herramientas como
    <span class="text-primary font-semibold">Blender</span>,
    <span class="text-primary font-semibold">Maya</span> y
    <span class="text-primary font-semibold">Substance Painter</span>. Me interesa especialmente construir escenarios que no solo se vean bien, sino que también estén pensados para integrarse de forma sólida dentro del gameplay.
  </p>

  <p class="mt-2">
    Me motiva encontrar el punto donde la <span class="text-primary font-semibold">técnica</span> y la
    <span class="text-primary font-semibold">creatividad</span> se encuentran, transformando ideas en experiencias jugables dentro de la industria de los videojuegos.
  </p>
</div>
</div>
